<div class="w-screen h-screen bg-gradient-to-b from-purple-600 to-blue-600">
  <div class="container w-full max-w-lg mx-auto py-20">
      <div class="bg-purple-50 shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <div class="mb-4">
              <label class="block text-gray-700 text-base font-semibold mb-2" for="Kilograms">
                  Kilograms
              </label>
              <input
                  class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="Kilograms" type="number" [(ngModel)]="kgValue" (input)="convertToOtherUnits()"
                  placeholder="Kilograms">
          </div>
          <div class="mb-4">
              <label class="block text-gray-700 text-base font-semibold mb-2" for="Grams">
                  Grams
              </label>
              <input
                  class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="Grams" type="number" [(ngModel)]="gValue" (input)="convertToOtherUnits()" placeholder="Grams">
          </div>
          <div class="mb-4">
              <label class="block text-gray-700 text-base font-semibold mb-2" for="Pounds">
                  Pounds
              </label>
              <input
                  class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="Pounds" type="number" [(ngModel)]="lbValue" (input)="convertToOtherUnits()"
                  placeholder="Pounds">
          </div>
          <div class="mb-4">
              <label class="block text-gray-700 text-base font-semibold mb-2" for="Ounces">
                  Ounces
              </label>
              <input
                  class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="Ounces" type="number" [(ngModel)]="ozValue" (input)="convertToOtherUnits()"
                  placeholder="Ounces">
          </div>
          <div class="">
              <label class="block text-gray-700 text-base font-semibold mb-2" for="Stones">
                  Stones
              </label>
              <input
                  class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="Stones" type="number" [(ngModel)]="stonesValue" (input)="convertToOtherUnits()"
                  placeholder="Stones">
          </div>
      </div>
  </div>
</div>